<!-- <p>footer works!</p> -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- footer.html -->
<footer class="text-center text-lg-start text-muted custom-footer">
    <section id="redes-sociais" class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span>Conecte-se com as minhas redes sociais:</span>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/tassiogomes/" class="me-4 text-reset" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/tassiogomes" class="me-4 text-reset" target="_blank">
                <i class="bi bi-github"></i>
            </a>
            <a href="https://www.credly.com/users/tassio-gomes/badges   " class="me-4 text-reset" target="_blank">
                <i class="bi bi-code"></i>
            </a>
        </div>
    </section>
</footer>