<div class="container text-center">
    <!-- Título centralizado -->
    <h2>Lista de Tipo Ocorrências</h2>
  
    <!-- Botão de Criar Ocorrência -->
    <button type="button" class="btn btn-success" routerLink="/tipoocorrencia/criar-tipoocorrencia">Criar Tipo de Ocorrência</button>
    <!-- Tabela centralizada -->
    <table class="table mx-auto mt-3">
      <thead>
        <tr>
          <th>Status</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Linha da Tabela -->
        <tr *ngFor="let ocorrencia of tipoocorrenciaList">
          <!-- Coluna de Status -->
          <td [style.color]="ocorrencia.inativo ? 'red' : 'green'" style="font-weight: bold;">
            <i class="bi bi-person-circle" [style.color]="ocorrencia.inativo ? 'red' : 'green'"></i>
            {{ ocorrencia.inativo ? 'Inativo' : 'Ativo' }}
          </td>                  
          <!-- Coluna de Nome -->
          <td>{{ ocorrencia.nomeTipoOcorrencia }}</td>
          <!-- Coluna de Ações -->
          <td>
            <!-- Botão de Editar -->
            <button class="btn btn-primary" [routerLink]="['/tipoocorrencia/editar-tipoocorrencia', ocorrencia.idTipoOcorrencia]">Editar</button>
            <!-- Botão de Excluir com margem -->
            <button class="btn btn-danger ms-2" [routerLink]="['/tipoocorrencia/delete-tipoocorrencia', ocorrencia.idTipoOcorrencia]">Excluir</button>
            <!-- Adicionei a classe "ms-2" para adicionar uma margem de 2 unidades à esquerda do botão de Excluir -->
          </td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>
    </table>
    
</div>
