<div class="container text-center">
    <!-- Título centralizado -->
    <h2>Lista de Ocorrências</h2>
  
    <!-- Botão de Criar Ocorrência -->
    <button class="btn btn-primary mt-3" routerLink="/tipoocorrencia/criar-tipoocorrencia">Criar Ocorrência</button>
    <!-- Tabela centralizada -->
    <table class="table mx-auto mt-3">
      <thead>
        <tr>
          <th>Status</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- Linha da Tabela -->
        <tr *ngFor="let ocorrencia of tipoocorrenciaList">
          <!-- Coluna de Status -->
          <td>Status 1</td>
          <!-- Coluna de Nome -->
          <td>{{ ocorrencia.nomeTipoOcorrencia }}</td>
          <!-- Coluna de Ações -->
          <td>
            <!-- Botão de Editar -->
            <button class="btn btn-primary" routerLink="/tipoocorrencia/editar-tipoocorrencia">Editar</button>
            <!-- Botão de Excluir com margem -->
            <button class="btn btn-danger ms-2">Excluir</button>
            <!-- Adicionei a classe "ms-2" para adicionar uma margem de 2 unidades à esquerda do botão de Excluir -->
          </td>
        </tr>
        <!-- Adicione mais linhas conforme necessário -->
      </tbody>
    </table>
</div>
