<section>
    <h1>Lista de Funções</h1>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let fun of funcoesList">
                <div class="card h-100">
                    <!-- family image-->
                    <img class="card-img-top" src="/assets/images/icon.png" alt="..." />
                    <!-- family details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- family name-->
                            <h5 class="fw-bolder">{{fun.idFuncao}} - {{fun.nomeFuncao}}</h5>

                        </div>
                    </div>
                    <!-- Family actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a href="#" class="btn btn-outline-dark mt-auto">View details</a></div>
                        <div class="text-center"><a href="#" class="btn btn-outline-dark mt-auto">View details</a></div>
                    
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>